<div class="row">
  <div class="offset-md-2 col-md-8">
    <!--Panel-->
    <div class="card">
      <h3 class="card-header primary-color white-text">Contacts <a href="/add" class="btn-floating btn-large cyan"><i class="fa fa-plus fa-2x"></i></a></h3>
      <div class="card-block">
        <table class="table table-striped table-hover">
          <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Pr&eacute;nom</th>
            <th>Postnom</th>
            <th>Numero</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let contact of contacts">
            <th scope="row">{{contact.idContact}}</th>
            <td>{{(contact.nom == '') ? '-' : contact.nom|uppercase}}</td>
            <td>{{(contact.prenom == '') ? '-' : contact.prenom|titlecase}}</td>
            <td>{{(contact.postnom == '') ? '-' : contact.postnom|uppercase}}</td>
            <td>{{(contact.numeros == '') ? '-' : '+'+contact.numeros[0].numero}}</td>
            <td>
              <a class="blue-text"><i class="fa fa-user"></i></a>
              <a class="teal-text"><i class="fa fa-pencil"></i></a>
              <a class="red-text"><i class="fa fa-times"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
