<!--Form with header-->
<div class="card">
  <div class="card-block">

    <!--Header-->
    <div class="form-header blue-gradient">
      <h3><i class="fa fa-user"></i> Ajouter contact :</h3>
    </div>

    <!--Body-->
    <div class="md-form">
      <i class="fa fa-user prefix"></i>
      <input [(ngModel)]="contact.nom" type="text" placeholder="Nom" id="form3" class="form-control"/>
      <label for="form3"></label>
    </div>
    <div class="md-form">
      <i class="fa fa-user-circle prefix"></i>
      <input placeholder="Prenom" [(ngModel)]="contact.prenom" type="text" id="form2" class="form-control">
      <label for="form2"></label>
    </div>

    <div class="md-form">
      <i class="fa fa-user-circle-o prefix"></i>
      <input [(ngModel)]="contact.postnom" placeholder="Postnom" type="text" id="form5" class="form-control">
      <label for="form5"></label>
    </div>

    <div class="md-form">
      <i class="fa fa-image prefix"></i>
      <input [(ngModel)]="contact.img_url" placeholder="Url de l'image" type="text" id="form6" class="form-control">
      <label for="form6"></label>
    </div>

    <div class="form-inline">
      <fieldset class="form-group">
        <input name="group1" [(ngModel)]="contact.genre" type="radio" value="m" id="radio11" checked="checked">
        <label for="radio11">Masculin</label>
      </fieldset>

      <fieldset class="form-group">
        <input [(ngModel)]="contact.genre" name="group1" type="radio" id="radio21">
        <label for="radio21">Feminin</label>
      </fieldset>
    </div>

    <div class="text-xs-center">
      <button class="btn btn-indigo" (click)="saveContact()">Enregistrer</button>
    </div>

  </div>
</div>
<!--/Form with header-->
